/* dropdownMenu.module.css */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownItem {
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  min-width: 120px;
}

.dropdownMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdownMenu li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: #ddd;
}
