.button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 16px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: var(--bold-font);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.08),
    inset 0 0 0 2px rgba(255, 255, 255, 0.12);
}

.button:hover {
  background-color: #007ee8;
  box-shadow: 0 1px 16px rgba(0, 111, 204, 0.2),
    0 12px 24px rgba(0, 111, 204, 0.2), inset 0 0 0 2px rgba(0, 0, 0, 0.14),
    inset 0 0 0 2px rgba(255, 255, 255, 0.11);
}

.button:active {
  background-color: #005daa;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.14),
    inset 0 0 0 2px rgba(255, 255, 255, 0.11);
}

.outlined {
  background-color: transparent;
  color: #fff;
  padding: 16px 32px;
  border: none;
  border-radius: 32px;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: var(--bold-font);
  box-shadow: none;
}

.outlined:hover {
  background-color: #fff;
  color: var(--text-color-blue);
  border-color: #fff;
  box-shadow: none;
}

.outlinedActive {
  background-color: #fff;
  color: var(--text-color-blue);
  box-shadow: none;
}
