.card {
  border-radius: 1.25rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary-color);
  cursor: pointer;
}

.card_left {
  padding: 1.5rem;
  position: relative;
}

.heading {
  font-size: 1.75rem;
  color: #fff;
  margin-bottom: 0.25rem;
}

.subheading {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0.25r;
  font-weight: var(--bold-font);
}

.list_container {
  margin-top: 1.1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list_item {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.right_Arrow_icon {
  position: absolute;
  color: #fff;
  font-size: 2.5rem;
  bottom: 8%;
  right: 8%;
}

.card_right {
}

.img_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img_wrapper > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in;
}

.img_wrapper > img:hover {
  transform: scale(1.1);
}
